In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Supplemental Table 1 Identified OCD Genes.csv")
df = df[['GENE']]
df = df.dropna()
df

             GENE
0            DRD3
1          SLC1A1
2          SLC6A3
3           NRXN1
4            WWP1
..            ...
450         CBLN1
452  LOC100287225
454      SIGLECL1
455       SYNDIG1
456     LOC284930

[445 rows x 1 columns]

In [3]:
gene_list = list(pd.unique(df.GENE))
len(gene_list)

444