In [1]:
import pandas as pd
from gprofiler import GProfiler
import re

In [2]:
gp = GProfiler(return_dataframe=True)

In [3]:
df = pd.read_csv("Supplemental Table 1 Identified OCD Genes.csv")
df

,GENE,Source,SNP,Hormonal?,Annotation,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,ACE,OCDB,rs3773679,yes,dopamine receptor,NaN,NaN,NaN,NaN,NaN
1,ACO2,OCDB,rs3087879,yes,solute carrier for glutamate transporters; mut...,NaN,NaN,NaN,NaN,NaN
2,ADAD2,OCDB,rs4975646,yes,dopamine transporter; mutations assciated with...,NaN,NaN,NaN,NaN,NaN
3,ADAM17,OCDB,NaN,no,neurexin (cell-surface receptor involved in Ca...,NaN,NaN,NaN,NaN,NaN
4,ADAMTSL4,OCDB,NaN,no,ubiquitin protein ligase 1 (also involved in t...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
453,LINC01630,NaN,rs321858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,SIGLECL1,Lit,rs10410689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,NaN,Lit,rs6132764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,AL117329.1,Lit,rs9615637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,AC063977.3,Lit,rs10410689,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
gwas_df = pd.read_csv('gwas-association-downloaded_2021-03-25-EFO_0004242.tsv', sep = '\t')
gwas_df = gwas_df[['MAPPED_GENE', 'SNP_ID_CURRENT']]
gwas_df

                 MAPPED_GENE  SNP_ID_CURRENT
0      LINC02225 - LINC02101         1844437
1          LINC01581 - H3P40         2388436
2    AL391840.3 - AL391840.2         3747767
3       AC098828.1 - RPS16P2         7578149
4                 AC009950.1         6436908
..                       ...             ...
212         CACNA1C, CACNA1C         4298967
213     ZNF804A - AC009315.1         4380187
214                    RSRC1         1730054
215       AL035078.4, PAUPAR         1806153
216                    LRFN5         1950829

[217 rows x 2 columns]

In [5]:
new_rows = []
for index, row in df.iterrows():
    keeps = ['Source', 'Hormonal?', 'Annotation', 'GENE', 'SNP']
    cleaned_row = dict()
    snps = set()
    for label in row.index:                
        if label == 'GENE':
            cleaned_row[label] = row[label]
            for gene in gwas_df.MAPPED_GENE:
                gene = str(gene)
                row_gene = str(row.GENE)
                if row_gene in gene or gene in row_gene or row_gene == gene:
                    gene_gwas_df = gwas_df[gwas_df.MAPPED_GENE == gene]
                    for snp in gene_gwas_df.SNP_ID_CURRENT:
                        snp = str(snp)
                        snp = 'rs' + snp
                        snps.add(snp)
        elif label == 'SNP':
            snp = str(row[label])
            for s in snp.split(','):
                s = s.strip()
                snps.add(s)
        else:
            snp = re.findall(r'rs[0-9]+', str(row[label]))
            if snp:
                for s in snp:
                    snps.add(s)
                if label in keeps:
                    row[label] = float('NaN')
            else:
                if label in keeps:
                    cleaned_row[label] = row[label]
    cleaned_row['SNP'] = snps
    new_rows.append(cleaned_row)
df = pd.DataFrame(new_rows)
df.to_csv('Supplemental_Table_1_gene_list.csv')

In [6]:
rows = []
for index, row in df.iterrows():
    snps = row['SNP']
    if 'nan' in snps:
        snps.remove('nan')
    if len(snps) > 0: 
        for snp in snps:
            new_row = {}
            new_row['GENE'] = row.GENE
            new_row['SNP'] = snp
            rows.append(new_row)
    else:
        new_row = {}
        new_row['GENE'] = row.GENE
        new_row['SNP'] = snp
        rows.append(new_row)
gene_snp_df = pd.DataFrame(rows)
gene_snp_df.to_csv('Gene_SNP_ID_table.csv')
gene_snp_df

           GENE         SNP
0           ACE   rs3773679
1          ACO2   rs3087879
2         ADAD2   rs4975646
3        ADAM17   rs4975646
4      ADAMTSL4   rs4975646
..          ...         ...
525   LINC01630    rs321858
526    SIGLECL1  rs10410689
527         NaN   rs6132764
528  AL117329.1   rs9615637
529  AC063977.3  rs10410689

[530 rows x 2 columns]

In [7]:
len(pd.unique(gene_snp_df.SNP))

116